/* body {
    display: flex;
    height: 100vh; 
}

.web-app {
    display: flex; 
}

header h1 {
    font-weight: bolder; 
} */

.web-app {
    flex-direction: column;
}

.mobile-nav {
    height: 80px;
}

.mobile-nav .profile {
    width: 50px;
    border-radius: 200px;
}

.main {
    justify-content: flex-start;
    height: 80%;
}

.main header {
    margin-top: 30px;
    width: 100%;
}

.main .search {
    margin-top: 20px;
}

.main .search-box {
    position: relative;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 200px;
    padding-left: 10px;
    height: 40px;
}

.main .search-box input {
    border: none;
    height: 55%;
    margin-top: 2px;
    width: 90%;
}

.main .search-box i {
    font-size: 1.3rem;
    margin-right: 10px;
}

.main .search-box ::placeholder {
    font-weight: bolder;
    padding-top: 10px;
    color: black;
    font-size: 1.2rem;
}

.sort-box {
    margin-top: 30px;
}

.sort-products {
    width: 100%;
}

.sort-box button {
    height: 100%;
    letter-spacing: 0.6px;
    font-weight: bolder;
    width: 130px;
    height: 45px;
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.sort-box button:hover {
    background-color: rgb(226, 226, 226);
}

.sort-box .left {
    border-radius: 20px 0px 0px 20px;
    padding-left: 8px 0px 0px 5px;
    border-right: 1px solid rgba(168, 168, 168, 0.459);
}

.sort-box .middle {
    width: 70px;
}

.sort-box .right {
    border-radius: 0px 20px 20px 0px;
    padding-right: 0px 10px 0px 5px;
    border-left: 1px solid rgba(168, 168, 168, 0.459);
}

.filter-row {
    width: 100%;
    margin-top: 20px;
}

.filter-row button {
    margin: 0 10px;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 45px;
    width: 120px;
    background-color: transparent;
    border: 1px solid rgba(160, 160, 160, 0.363);
    border-radius: 8px;
}

.filter-row i {
    margin: 5px;
}

.filter-row button:hover {
    background-color: var(--purple);
    border: none;
    color: white;
}

.products-section {
    flex-wrap: wrap; 
    flex-direction: row; 
    overflow: auto;
}

.app-page {
    height: 100vh; 
}

.app-page .main {
    height: 87%; 
}

.products-section {
    margin-top: 10px; 
}

@media (min-width: 765px) {
    .wrap {
        max-width: 698px; 
    }

    header .container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    header .container .search-box {
        margin: 0;
        width: 250px;
    }

    .modal-filter {
        width: 50%; 
    }

    .modal-filter .box-margin {
        margin: 10px 0 0 11%
    }

    .slide .price-ranges {
        width: 80%; 
    }

    .filter-row .container {
        justify-content: center;
    }

    .products-section {
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-between; 
    }

    .products-section .product-box {
        width: 44%; 
        margin: 20px 20px 20px 20px; 
    }

    .middle-filters {
        flex-direction: row; 
        justify-content: space-between; 
        width: 100%; 
        margin: 20px; 
    }
}

@media(min-width: 1000px) {
    .wrap {
        max-width: 900px; 
    }


    .adverts .container {
        padding: 0 20px;
        max-width: none; 
    }

    #aside-mobile {
        display: flex;
        position: inherit; 
    }

    .web-app {
        display: flex; 
        flex-direction: row; 
    }

    .mobile-nav {
        display: none;
    }

    .app-page .main {
        height: 100%; 
    }

    .main .title h1 {
        font-size: 2.3rem; 
    }

    .products-section .product-box {
        width: 28%; 
        min-width: 28%; 
        height: 350px; 
    }

    .products-section .product-box .top {
        height: 60%; 
    }

    .products-section .product-box .bottom {
        height: 40%; 
    }

    aside {
        width: 70px; 
    }

    aside .icons .icon-box {
        font-size: 1.5rem;
        margin: 0;
    }

    /* aside .icons {
        font-size: 1.5rem;
    } */

    aside .logo img {
        display: block; 
        width: 80%; 
    }

    aside .logo i {
        display: none; 
    }
    
    aside .bottom {
        width: 70px; 
    }

    aside .bottom img {
        display: none; 
    }

    aside .bottom .profile {
        display: flex; 
        border-radius: 200px; 
        height: 62px;
        width: 62px;
    }

    .bottom .profile .img-profile {
        background-image: url('../imgs/profile-square.png');
        height: 45px; 
        width: 45px;
        border-radius: 200px;     
    }
}



