.btn {
    background: none; 
    border: none; 
    font-weight: bold;
}

.purple {
    background-color: var(--purple);
}

.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-between
{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.flex-around
{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.flex-column
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    height: 72px;
}

header .logo{
    height: 100%;
    margin-left: 10px; 
    
}

header .logo img {
    width: 13.5em;
}

main{
    height: 81vh;
}

.box-log, .box-cad{
    width: 50%;
    height: 75vh;
    background: #fff;
    box-shadow: 0em 0em 1.5em rgb(119, 118, 118);
    width: 30vw;
    border-radius: 15px;
}
.box-log, .box-cad img{
    width: 3.5em;
}

.d-box{
    height: 67vh;
}

.d-box h2{
    font-size: 3.5em;
}

#remind_input{
    display: flex;
    justify-content: flex-start;
}
.remind-box{
    width: 100%;
    font-size: 0.em;

}

.remind{
    font-size: 0.7em;
}

.d-box a{
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 0.7em;
}

.form-box{
}
input{
    padding: 0.4em;
    margin: 0.5em;
    width: 20em;
    border: solid 1px black;

}

#remind_input {
    width: auto;
    

}
input::placeholder{
    color: #CBCBCB;
}


nav a {
    margin: 0 1em; 
}

nav #btn-cadastro {
    background-color: var(--green);
    padding: 8px 25px;
    border-radius: 20px;
}

.btn-entrar
{
    margin-top: 1.50em;
    padding: 0.25em 3em; 
    font-size: 2em;
    border-radius: 200px;
    color: white;
}

.btn-log, .btn-cad{ 
    font-size: 1em;
    border-radius: 200px;
    color: white;
    margin-top: 2em;
    width: 8em;
    height: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.lnk-entrar{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #A3A0A0;
  
}



.home img{
    width: 26em;

}

.home .entrar{
    width: 32vw;
    text-align: left;
    line-height: 150%;
}
.home .entrar h1{
    line-height: 170%;
}

footer{
    height: 4em;
    background-color: #F2C335;
}

footer img{
    height: 3em;
}
footer .footer-links a{
    padding: 0em 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: #707070;
    font-size: 0.8em;
}
footer .footer-icons{
    color: black;
    font-size: 1.70em;
    padding-right: 15px;
}

/* inicio de teste */
.nav-produto{
    background-color: #F2C335;
    height: 100vh;
    width: 5vw;
}

.header-produto{
    height: 30vh;
    width: 94vw;
    background-color: aquamarine;
    
}
/* .main-produto{
    height: 100vh;
    display: flex;
    flex-direction: column;
} */
.img-produto{
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: center;

}
.img-produto{
    margin-bottom: 6.5em;
}

.img-principal img{
    height: 30vh;
}
.img-small{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1em;
}
.img-small img{
    height: 9vh;
}

.ponto-img{
    margin: 1em;
    margin-bottom: 10em;
}
.ponto{
    width: 0.3em;
    height: 0.3em;
    background-color: black;
    margin: 1em;
   
}

.descricao-produto{
    width: 30vw;
    height: 35vh;
    background-color: aquamarine;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
}

.hr-log hr{
 width: 10vw;
 margin: 0 10px;
}

.hr-log{
    flex-direction: row;
}

.rambo{
    height: 80px;
    margin-top: 35px;

}

.hr-log p{
    color: #A3A0A0;
    text-transform: uppercase;
    font-weight: bold; 
}
.roxo{
    background-color: var(--roxo);
}
.div-hr{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
@media (max-width: 768px) {
    
    .box-log, .box-cad {
        width: 45vw;
    }
    .d-box h2 {
        font-size: 2.5em;
        margin-top: 0.7em;
    }
    
    header .logo img{
        width: 9em;
    }

}



/* Inicio do código para tablet */

/* Codigo para header */
@media (max-width: 768px) {
    
    header .logo img {
        width: 11em;
    }
/* Codigo para pg home */
    .home img{
        width: 18em;
    }

    .text{
        width: 16em;

    }
    .text h1{
        font-size: 1.3em;
    }
    .text p{
        font-size: 0.9em;
    }
    .btn-entrar{
        margin-top: 1.50em;
        padding: 0.3em 1.5em; 
        font-size: 1em;
        border-radius: 200px;
        color: white;
    }

    footer .footer-icons{
        padding-right: 15px;
    }

}

/* Inicio do código para mobile */
@media (max-width: 376px) {
    
    main{
        height: 85vh;
    }

    header{
        margin-left: 10px;
    }
    header .logo img {
        width: 6em;
    }
    .footer-links a{
        display: none;
    }
    .box-log, .box-cad {
        width: 85vw;
    }
    .home img{
        width: 12em;
    }

    .div-hr{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .btn{
        align-content: center;
    }
    footer .footer-icons{
        padding: 15px;
        font-size: 1.30em;
    }
    footer img{
        height: 6vh;
    }
    .text{
        width: 100%;
    }
    .text h1{
        font-size: 1em;
        text-align: center;
    }
    .text p{
        font-size: 0.7em;
        text-align: justify; 
    }
    .home .entrar{
        width: 80vw;
    }

    .home{
        flex-direction: column; 
    }

    .home-header {
        flex-direction: column; 
        height: 90px;
    }

    .home-header nav a {
        margin: 0 5px; 
    }

    .home-header nav #btn-cadastro {
        padding: 8px 15px;
    }


}   

/* 
#btn-cadastro{
    display: none;
} */