.btn {
    background: none; 
    border: none; 
    font-weight: bold;
}

.purple {
    background-color: var(--purple);
}

.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-between
{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.flex-around
{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.flex-column
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    height: 72px;
}


header .logo{
    height: 100%;
    
}

header .logo img {
    width: 16em;
}

main{
    height: 81vh;
}

.box-log, .box-cad{
    width: 50%;
    height: 75vh;
    background: #fff;
    box-shadow: 0em 0em 1.5em rgb(119, 118, 118);
    width: 30vw;
    border-radius: 15px;
}
.box-log, .box-cad img{
    width: 3.5em;
}

.d-box{
    height: 67vh;
}

.d-box h2{
    font-size: 3.5em;
}

#remind_input{
    display: flex;
    justify-content: flex-start;
}
.remind-box{
    width: 100%;
    font-size: 0.em;

}

.remind{
    font-size: 0.7em;
}

.d-box a{
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 0.7em;
}

.form-box{

}
input{
    padding: 0.4em;
    margin: 0.5em;
    width: 20em;
    
}

#remind_input {
    width: auto;
    

}
input::placeholder{
    color: #CBCBCB;
}

nav button{

}

nav a {
    margin: 0 1em; 
}

nav #btn-cadastro {
    background-color: var(--green);
    padding: 8px 25px;
    border-radius: 20px;
}

.btn-entrar
{
    margin-top: 1.50em;
    padding: 0.45em 3em; 
    font-size: 2em;
    border-radius: 200px;
    color: white;
}

.btn-log, .btn-cad{ 
    font-size: 1em;
    border-radius: 200px;
    color: white;
    margin-top: 2em;
    width: 8em;
    height: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.lnk-entrar{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #A3A0A0;
  
}

.home img{
    width: 26em;

}

.home .entrar{
    width: 32vw;
    text-align: left;
    line-height: 150%;
}
.home .entrar h1{
    line-height: 170%;
}

footer{
    height: 4em;
    background-color: #F2C335;
}

footer img{
    height: 3em;
}
footer .footer-links a{
    padding: 0em 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: #707070;
    font-size: 0.8em;
}
footer .footer-icons{
    color: black;
    font-size: 1.70em;
}


.hr-log hr{
 width: 150px;
 margin: 0 10px;
}

.hr-log{
    flex-direction: row;
}

.rambo{
    height: 80px;
    margin-top: 35px;

}

.hr-log p{
    color: #A3A0A0;
    text-transform: uppercase;
    font-weight: bold; 
}

@media (max-width: 768px) {
    
    .box-log, .box-cad {
        width: 45vw;
}
    .d-box h2 {
        font-size: 2.5em;
        margin-top: 0.7em;
}
    
}
@media (max-width: 376px) {
    
    .box-log, .box-cad {
        width: 85vw;
}


}

