:root {
    --yellow: #FFD34D; 
    --green: #94EADB; 
    --pink: #D76AD9; 
    --red: #FF7289;
    --purple: #805cff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}